<!DOCUMENT html>

<!-- Example 803. AngularJS Patrones comunes de interfaces de usuario: Paginación del lado del servidor. Pagina 84. -->

<!-- Se requiere paginar a traves de un gran set de resultados del lado del servidor.
	 Muestra los numeros de paginacion a partir de un set de resultados.
-->
	 
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="bootstrap.css">
</head>

<!-- DIRECTIVA ng-app -->
<!-- Permite inicializar aplicacion en angular.js  -->
<!-- Expresiones en angularJS se renderizan en pantalla por medio de {{ }}  -->

<body ng-app="MyApp">

	<h3>Paginando 50 items </h3>
	<div ng-controller="PaginationCtrl"> 
		
		<table class="table table-striped"> 
			<thead> 
				<tr> 
					<th>Id</th> 
					<th>Name</th> 
					<th>Description</th> 
				</tr> 
			</thead> 
			<tbody> 
				<!-- Mostramos el listado en tabla de items. 
					 Offset permite 
				-->
				<tr ng-repeat="item in pagedItems"> 
					<td>{{item.id}}</td> 
					<td>{{item.name}}</td> 
					<td>{{item.description}}</td> 
				</tr> 

			</tbody>
			<tfoot> 
				<td colspan="3"> 
					<div class="pagination"> 
						<ul> 
							<li ng-class="prevPageDisabled()"> 
								<a href ng-click="prevPage()">« Anterior</a> 
							</li> 
							<li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)"> 
								<a href="#">{{n+1}}</a> 
							</li> 
							<li ng-class="nextPageDisabled()"> 
								<a href ng-click="nextPage()">Siguiente »</a> 
							</li> 
						</ul> 
					</div> 
				</td> 
			</tfoot>
		</table>
	</div>
	
	<!--Version de angular.js 1.4.8 -->
	<script src="angularjs/angular.min.js"></script>
	<script src="angularjs/angular-ui.js"></script>
	<script>

		var app = angular.module("MyApp", []);
		 
		//La siguiente factoria llamada Item genera a partir de un set de 50 registros el numero de paginas
		app.factory("Item", function() { 
			
			var items = []; 
			
			//Agregamos datos al array items
			for (var i = 0; i < 50; i++) { 
				items.push(	{ id: i, name: "name "+ i, description: "description " + i }); 
			} 
			
			//La factoria retorna dos metodos
			//Item.get 
			//Item.total
			return{
				get: function(offset, limit) { 
						return items.slice(offset, offset + limit); 
					}, 
				total: function() { 
						return items.length; 
					} 
			}; 
			
		});
		
		//Inyectamos la factoria Item en el controlador
		app.controller("PaginationCtrl", function($scope, Item) {
			
			//Items permitidos por pagina
			$scope.itemsPerPage = 5; 
			
			//Pagina inicial/actual
			$scope.currentPage = 0; 
			
			//Rango de datos a mostrar
			$scope.range = function() {
				var rangeSize = 5;
				var ret = [];
				var start;

				start = $scope.currentPage;
				if ( start > $scope.pageCount()-rangeSize ) {
				  start = $scope.pageCount()-rangeSize;
				}

				for (var i=start; i<start+rangeSize; i++) {
				  ret.push(i);
				}
				return ret;
			};

			//Accion boton Anterior
			$scope.prevPage = function() {
				if ($scope.currentPage > 0) {
				  $scope.currentPage--;
				}
			};
			
			//Accion deshabilitar boton Anterior si esta en primera paginacion
			$scope.prevPageDisabled = function() {
				return $scope.currentPage === 0 ? "disabled" : "";
			};
			
			//Accion boton Siguiente
			$scope.nextPage = function() {
				if ($scope.currentPage < $scope.pageCount() - 1) {
				  $scope.currentPage++;
				}
			};

			//Accion deshabilitar boton pagina Siguiente cuando este en el ultima posicion paginador	
			$scope.nextPageDisabled = function() {
				return $scope.currentPage === $scope.pageCount() - 1 ? "disabled" : "";
			};

			//Obtiene el numero de paginas	
			$scope.pageCount = function() {
				return Math.ceil($scope.total/$scope.itemsPerPage);
			};

			//Obtiene la pagina actual		
			$scope.setPage = function(n) {
				if (n > 0 && n < $scope.pageCount()) {
					$scope.currentPage = n;
				}
			};

			//El objeto $watch es un observador que pasa funciones de forma automatica cada vez que haya un cambio.
			//Aqui pasa un parametro como funcion, en este caso currentPage
			//currentPage es una funcion con dos parametros newValue, oldValue.
			//Invocamos la factoria Item.get para asignarle a pagedItems el rango de items por cada l
			//y tambien Item.total para obtener el total de registros
			$scope.$watch("currentPage", function(newValue, oldValue) {
				$scope.pagedItems = Item.get(newValue*$scope.itemsPerPage, $scope.itemsPerPage);
				$scope.total = Item.total();
			});
											
		});
		
	</script>

</body>

</html>
