<!DOCUMENT html>

<!-- Example 705. AngularJS Forms: Habilitar solo boton de Enviar si el formulario es valido -->

<!-- Se requiere validar el formulario desde el lado cliente usado los atributos HTML5.
	 Angular.js funciona con HTML5 atributos de formulario. 
	 Se requiere deshabilitar el boton Enviar tan pronto como el formulario contenga un dato no valido.
-->
	 
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="bootstrap.css">
</head>

<!-- DIRECTIVA ng-app -->
<!-- Permite inicializar aplicacion en angular.js  -->
<!-- Expresiones en angularJS se renderizan en pantalla por medio de {{ }}  -->

<body ng-app="MyApp">
	
	<div ng-controller="Usuario">
	
		<!--
			Con la directiva ng-disabled, podemos controlar el estado de formulario. 
			Si el formulario esta incompleto o invalido, el boton de este se encontrará deshabilitado.
		-->
		
		<form name="form" ng-submit="submit()" class="form-horizontal" novalidate> 
			
			<div class="control-group" ng-class="error('nombre')">
			<label class="control-label" for="nombre">Nombre</label>
			<div class="controls">
				<input id="nombre" name="nombre" type="text" ng-model="usuario.nombre" placeholder="nombre" required/>
				<span class="help-block" ng-show="form.nombre.$invalid && form.nombre.$dirty">Nombre es requerido</span>
			</div>
			</div>
			
			<div class="control-group" ng-class="error('apellido')">
			<label class="control-label" for="apellido">Apellido</label>
			<div class="controls">
				<input id="apellido" name="apellido" type="text" ng-model="usuario.apellido" placeholder="Apellido" required/>
				<span class="help-block" ng-show="form.apellido.$invalid && form.apellido.$dirty">Apellido es requerido</span>
			</div>
			</div>
			
			<div class="control-group">
			<label class="control-label" for="edad">Edad</label>
			<div class="controls">
				<input id="edad" name="edad" type="text" ng-model="usuario.edad" placeholder="Edad" /> 
			</div>
			</div>
			
			<div class="control-group">
				<div class="controls">
					<button ng-disabled="form.$invalid" class="btn">Enviar</button> 
				</div>
			</div>

		</form>		
			
	</div>
	
	<!--Version de angular.js 1.4.8 -->
	<script src="angularjs/angular.min.js"></script>
	<script>

		var app = angular.module("MyApp", []);
		 
		app.controller("Usuario", function($scope) {
		
			$scope.usuario = {}; 
			$scope.wasSubmitted = false; 
			$scope.submit = function() { 																	
								$scope.wasSubmitted = true;
						   }; 
						   
			$scope.error = function(variableForm) {
				var s = $scope.form[variableForm];
				return s.$invalid && s.$dirty ? "error" : "";
		    };

		});

	</script>

</body>

</html>
